<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title><%= app_title %></title>
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Tangerine:400,700" rel="stylesheet">
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/boot.css">
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/style.css" media="all"/>
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/navbar-fixed-top.css" media="all"/>
