  <nav id="gradienth" class="navbar navbar-default navbar-fixed-top navbar-md">
 <div style="padding:0;" class="container-fluid">
  <div style="margin:0;" class="navbar-header">
               <button id="meiu" style="display:block;" type="button" class="navbar-toggle sidebar-toggle left-menu-bar-btn"> 
               <span class="icon-bar">
               </span> 
               <span class="icon-bar">
               </span> 
               <span class="icon-bar">
               </span> </button>
 <a href="#" id="go-back" class="sei" style="display:none;"> <span style="" class="glyphicon glyphicon-chevron-left">
               </span></a>			   
			   
			   <div id="hormenu"> <ul><li> <a id="vegeta" style="padding-left: 15px;">
               <span id="vertical" style="font-size:21px;color:white;" class="fa fa-ellipsis-vertical">
               </span> </a>
			    <ul id="goku" class="chicca"> <!-- Lista annidata: voci del sotto-menu -->
            <li style="padding: 18px 25px 10px 13px;"><a id="my" href="#info">Info app</a></li>
            <li style="padding: 10px 25px 18px 13px;"><a href="#my-page-route">Sviluppatore</a></li>
            
        </ul> <!-- Fine del sotto-menu -->	<div class="spaziooo"></div>
		</li></ul></div>
			   <button type="button" class="navbar-toggle search-btn-onclick" style="margin:0;padding: 15px 7px;"> 
               <span id="class-search" class="glyphicon glyphicon-search" style="display:none;font-size: 16px;padding-bottom: 4px;padding-top: 3px;">
               </span> </button>
			   
			   
			   
			   <div class="pull-left" style="padding: 15px 15px 15px 18px;">
  
   <a href="#" id="refresh-button" class="sei ref" style="display:none;"><span style="" class="glyphicon glyphicon-refresh">
               </span></a>
			  </div>
			   
               <span class="navbar-brand center-block" href="#"><p class="logo" style=""><%= app_title %></p>
               </span> 
			   
			   
               <div class="dropdown pull-right"> </div>
            </div>
			 <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav"> </ul>
            </div>
			</div>
			</nav>
			<div class="sidebar-overlay"></div>
			<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-left" role="navigation">
			<div id="" class="utente bsfondo"><div id="feedback" style="display:none; "></div></div>
			
			
 
 
 
<%= menu %>
 </aside>
 
 
 
  
 
 
 
 
  <div class="container">
<div id="provah" style="display:none"></div>
   <%= content %>
   </div>
   
   
   
 



   
   
   
   
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" z-index:999999999 !important">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
               </div>
               <div class="modal-body" align="center">
                  <h5>Designed By Sharda Enterprises</h5>
                  <h6>Powered By fastlearning.in</h6>
               </div>
               <div class="modal-footer"> <button type="button" class="close-btn" data-dismiss="modal">Close</button> </div>
            </div>
         </div>
      </div>
   
   
   

   
   
   
 