<div style="width:100%;margin-bottom:20px;border-bottom: 1px solid #DDD;font-size: 14px;color: #666;background-color:#4285F4;box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2), 0 0 15px 0 rgba(0, 0, 0, .3)!important;">
<div style="float:left;" class="container-fluid">
<h1 style="border:0;color:white;font-weight:500;opacity:0.8;"> AREA RISERVATA </h1></div> <div style="float:right;" class="container-fluid"><a href="#" class="casa"><h1 style="border:0;color:white;font-weight:500;opacity:0.8;font-size:20px;" class="fa fa-home"></h1></a></div><div class="clearfix"></div></div>


<div class="container-fluid">
<div id="login-page">
	
	<div id="single-content">
            Effettua il log in per poter accedere alle funzioni riservate.
          		
			<div style="" class="user-page"><span style="background-color: #f7f5ee;border-color:#999;color:#999;" id="user" class="fa fa-user"></span></div>
			
			 <div style="margin-top:-40px;" class="col-md-6 col-md-offset-3">
            <div class="card">
                
                
                <div class="card-content">
                    
					 <form>
                <div style="border-bottom: 1px solid #cecece;padding-right:40px;background-position: right;background-image:url('<%= TemplateTags.getThemePath() %>/img/user.png');background-repeat:no-repeat;" class="form-group">
                    <label for="user-login">Username</label>
                    <input type="text" class="form-control" id="user-login" placeholder="Mario_94">
                </div>
                <div style="padding-right:40px;border-bottom: 1px solid #cecece;background-position: right;background-image:url('<%= TemplateTags.getThemePath() %>/img/pass.png');background-repeat:no-repeat;" class="form-group">
                    <label for="user-pass">Password</label>
                    <input type="password" class="form-control" id="user-pass" placeholder="******">
                </div>
                <button style="width:100%;" type="submit" class="btn btn-info btn-gradient">Accedi</button>
            </form>
			
					
					
                </div>
                
               
            </div>
        </div>
			
			<div class="col-sm-12">
			<div style="text-align:center">- <i>o</i> -
			<br>
			<a href="#reg">Registrati</a></div>
			
			</div>
			
			
			
			
			
			
			
			
	</div>
</div>
</div>