<ul class="nav sidebar-nav">

      <% if(menu_items.length){ %>
            <% _.each( menu_items, function( menu_item ){ %>
                  <li><a class="transition" href="<%= menu_item.link %>"><%= menu_item.label %></a></li>
            <% }) %>
      <% } %>
	  
	  <li style="border-top: 1px solid #cecece;background-color:#f7f5ee;"><a href="#chat" class="pl10 cb"><span style="font-size: 18px;margin-right: 13px;" class="fa fa-comments-o"></span>Chat</a></li>
	  <li style="border-bottom: 1px solid #cecece;background-color:#f7f5ee;"><a href="#" class="pl10 cb" onClick="window.open('https://play.google.com/store/apps/details?id=com.phonegap.newsweb','_system','location=yes');return false;"><span style="font-size: 18px;margin-right: 13px;" class="fa fa-star-o"></span>Vota l'app</a></li>
	    <li><a href="#faq" class="pl10">Faq</a></li>
		  <li><a href="#policy" class="pl10">Privacy policy</a></li>
</ul>