

<div id="single" class="post-<%= post.id %>">

   
		
		
		
   <div style="margin-top:0px;" id="single-content">
   
   
        <% if(  post.thumbnail && post.thumbnail.src && post.thumbnail.src.length ){ %>
                <img style="background-color:white;width:100%;" class="img-responsive" src="<%= post.thumbnail.src %>" />
        <% } %>		
		
		<div style="background-color:transparent;padding-bottom: 7px;">	
      <div class="container-fluid">
	  <div style="font-style: italic;color: #777;text-align:center;padding: 7px 0 0 0;font-size:13px;" class="col-xs-4"> <span class="fa fa-calendar"></span> <br> <%= TemplateTags.formatDate(post.date,'d/m/Y') %></div>
 
 <div style="padding: 0px 0 0 0;" class="col-xs-4"> <div style="font-size:13px;font-style: italic;color: #777;text-align:center;"><img style="padding:8px;margin-top:-27px;background-color: #f7f5ee;position: relative;" width="55px" height="55px" class="img-circle center-block" src="<%= post.gravatar_image %>"> <span><%= post.author %></span> </div> </div> 
	  
<div style="font-size:13px;font-style: italic;color: #777;text-align:center;padding: 7px 0 0 0;" class="col-xs-4"><span class="glyphicon glyphicon-comment"></span> <br> <%= post.nb_comments %> <% if( post.nb_comments === 1 ){
print("commento")
}
else {
print("commenti")

} %></div>
	</div></div>
  
  
  
  
  
  
	  
	<div style="padding-top:10px;" class="container-fluid"> 
<div style="background-color: white;padding:0 8px 6px;border-radius:5px;">	
	<h1 style="margin:0;padding-top:10px;border:0;padding-bottom:0px;font-size:18px;font-family:'Open Sans', sans-serif;font-weight:600;"><%= post.title %></h1>
		 <%= post.content %> </div><br><br><br></div>
	   
	  
	  
	 </div>
	
</div>





<a class="comments comment-top" data-post-id="<%= post.id %>" href="<%= TemplateTags.getCommentsLink(post.id) %>"><img src="<%= TemplateTags.getThemePath() %>/img/com-single.png"></a>

  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>
  