<div style="width:100%;margin-bottom:0px;border-bottom: 1px solid #DDD;font-size: 14px;color: #666;background-color:#4285F4;box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2), 0 0 15px 0 rgba(0, 0, 0, .3)!important;">
<div style="float:left;" class="container-fluid">
<h1 style="border:0;color:white;font-weight:500;opacity:0.8;">RIEPILOGO UTENTE </h1></div> <div style="float:right;" class="container-fluid"><a href="#" class="casa"><h1 style="border:0;color:white;font-weight:500;opacity:0.8;font-size:20px;" class="fa fa-home"></h1></a></div><div class="clearfix"></div></div>




<div id="single" id="user-page">
	
	<div id="single-content">
	
	
	
                    <img style="float:right;width:80%;border-bottom-right-radius:50%;border-top-left-radius:50%;border-bottom-left-radius: 50%;" class="img-responsive" src="<%= user.gravatar_image_link %>">
                    <div class="clearfix"></div>
					<div class="container-fluid">
					<h2 style="margin:20px 0 0;text-transform:uppercase;font-size:18px;"><%= user.login %></h2>   
                    <p style="font-style:italic;"><%= user.role %> <br> Puoi cambiare il tuo avatar su <a href="#" onClick="window.open('https://en.gravatar.com/','_system','location=yes');return false;">Gravatar</a></p>
               
            
                 <button style="width: 100%;margin-bottom: 10px;" type="button" class="btn btn-success btn-gradient" id="logout">Disconnetti account</button>
				 <br>
				 <br>
				 <br>
				 <br>
				 </div>
                   
               
          
		
		
		
		
		
		
	</div>
	
	
	
	
	
	
	
	
           
			
			
 
			
	</div>




  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>







 